<div class="page">
  <h2 class="md-headline" style="margin-top: 0;">Welcome to EC.</h2>
  <p>
    <a class="github-button" href="https://github.com/panayi/ec" data-style="mega" data-count-href="/panayi/ec/network" data-count-api="/repos/panayi/ec#forks_count">Fork</a>
  </p>
</div>